<!-- /templates/collection.liquid -->
{%- assign limit = settings.collection_products_count | plus:0 -%} 
{%- include 'collection_grid' -%} <div class="col_lower_main" style="width:100%"><div class="inner_lower_main" style="max-width:1170px;margin:0 auto;">{{ collection.metafields.collectionlower.lowerdata }}</div></div>